# ======================
# Node / Server (SERVER)
# ======================
/SERVER/node_modules/
# If you build server
/SERVER/dist/
/SERVER/.env
/SERVER/npm-debug.log
/SERVER/yarn-error.log
/SERVER/pnpm-lock.yaml

# ======================
# Next.js / Client (CLIENT)
# ======================
/CLIENT/node_modules/
/CLIENT/.next/
/CLIENT/out/
/CLIENT/.env.local
/CLIENT/.env.development.local
/CLIENT/.env.production.local
/CLIENT/.env.test.local
/CLIENT/npm-debug.log
/CLIENT/yarn-error.log
/CLIENT/pnpm-lock.yaml

# ======================
# General / OS
# ======================
.DS_Store
*.log
.next
.vscode
mango-shop
requirement.txt
