PORT=3001
MONGO_URI=mongodb://localhost:27017/uShop-admin

# cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# mail 
EMAIL_USER=your-gmail@gmail.com
EMAIL_PASS=your-gmail-app-password

# whatsapp api
TWILIO_ACCOUNT_SID=your_actual_account_sid
TWILIO_AUTH_TOKEN=your_actual_auth_token
TWILIO_CONTENT_SID=messages_content_sid

TWILIO_WHATSAPP_NUMBER=+14155238886 (example sandbox number)


